USE [master]
GO
/****** Object:  Database [Maven]    Script Date: 2/6/2026 10:02:24 AM ******/
CREATE DATABASE [Maven]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Maven', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Maven.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Maven_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Maven_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Maven].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Maven]
GO
/****** Object:  Table [dbo].[CategoriaJoya]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaJoya](
	[CategoriaJoyaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaJoyaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CondicionObjeto]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CondicionObjeto](
	[CondicionObjetoId] [int] IDENTITY(1,1) NOT NULL,
	[NombreCondicion] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CondicionObjetoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoObjeto]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoObjeto](
	[EstadoObjetoId] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoObjetoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoPago]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPago](
	[EstadoPagoId] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoPagoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoSubasta]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoSubasta](
	[EstadoSubastaId] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoSubastaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoUsuario]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoUsuario](
	[EstadoUsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoUsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Joya]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Joya](
	[JoyaId] [int] IDENTITY(1,1) NOT NULL,
	[VendedorId] [int] NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Descripcion] [nvarchar](1000) NOT NULL,
	[EstadoObjetoId] [int] NOT NULL,
	[CondicionObjetoId] [int] NOT NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JoyaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JoyaCategoria]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoyaCategoria](
	[JoyaId] [int] NOT NULL,
	[CategoriaJoyaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JoyaId] ASC,
	[CategoriaJoyaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JoyaImagen]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoyaImagen](
	[JoyaImagenId] [int] IDENTITY(1,1) NOT NULL,
	[JoyaId] [int] NOT NULL,
	[UrlImagen] [nvarchar](400) NOT NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JoyaImagenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacion]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacion](
	[NotificacionId] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[SubastaId] [int] NULL,
	[Tipo] [nvarchar](40) NOT NULL,
	[Mensaje] [nvarchar](500) NOT NULL,
	[Leida] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[SubastaId] [int] NOT NULL,
	[CompradorId] [int] NOT NULL,
	[VendedorId] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[EstadoPagoId] [int] NOT NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
	[FechaConfirmacion] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubastaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puja]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puja](
	[PujaId] [bigint] IDENTITY(1,1) NOT NULL,
	[SubastaId] [int] NOT NULL,
	[CompradorId] [int] NOT NULL,
	[MontoOfertado] [decimal](18, 2) NOT NULL,
	[FechaHora] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PujaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subasta]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subasta](
	[SubastaId] [int] IDENTITY(1,1) NOT NULL,
	[JoyaId] [int] NOT NULL,
	[VendedorId] [int] NOT NULL,
	[FechaInicio] [datetime2](0) NOT NULL,
	[FechaCierre] [datetime2](0) NOT NULL,
	[PrecioBase] [decimal](18, 2) NOT NULL,
	[IncrementoMinimo] [decimal](18, 2) NOT NULL,
	[EstadoSubastaId] [int] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaPublicacion] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubastaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubastaResultado]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubastaResultado](
	[SubastaId] [int] NOT NULL,
	[GanadorId] [int] NULL,
	[PujaGanadoraId] [bigint] NULL,
	[MontoFinal] [decimal](18, 2) NULL,
	[FechaCierre] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubastaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 2/6/2026 10:02:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [nvarchar](120) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[NombreCompleto] [nvarchar](120) NOT NULL,
	[RolId] [int] NOT NULL,
	[EstadoUsuarioId] [int] NOT NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CondicionObjeto] ON 

INSERT [dbo].[CondicionObjeto] ([CondicionObjetoId], [NombreCondicion]) VALUES (1, N'NUEVO')
INSERT [dbo].[CondicionObjeto] ([CondicionObjetoId], [NombreCondicion]) VALUES (2, N'USADO')
SET IDENTITY_INSERT [dbo].[CondicionObjeto] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoObjeto] ON 

INSERT [dbo].[EstadoObjeto] ([EstadoObjetoId], [NombreEstado]) VALUES (1, N'ACTIVO')
INSERT [dbo].[EstadoObjeto] ([EstadoObjetoId], [NombreEstado]) VALUES (3, N'EN_SUBASTA')
INSERT [dbo].[EstadoObjeto] ([EstadoObjetoId], [NombreEstado]) VALUES (2, N'INACTIVO')
SET IDENTITY_INSERT [dbo].[EstadoObjeto] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoPago] ON 

INSERT [dbo].[EstadoPago] ([EstadoPagoId], [NombreEstado]) VALUES (2, N'CONFIRMADO')
INSERT [dbo].[EstadoPago] ([EstadoPagoId], [NombreEstado]) VALUES (1, N'PENDIENTE')
SET IDENTITY_INSERT [dbo].[EstadoPago] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoSubasta] ON 

INSERT [dbo].[EstadoSubasta] ([EstadoSubastaId], [NombreEstado]) VALUES (3, N'ACTIVA')
INSERT [dbo].[EstadoSubasta] ([EstadoSubastaId], [NombreEstado]) VALUES (1, N'BORRADOR')
INSERT [dbo].[EstadoSubasta] ([EstadoSubastaId], [NombreEstado]) VALUES (5, N'CANCELADA')
SET IDENTITY_INSERT [dbo].[EstadoSubasta] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoUsuario] ON 

INSERT [dbo].[EstadoUsuario] ([EstadoUsuarioId], [NombreEstado]) VALUES (1, N'ACTIVO')
INSERT [dbo].[EstadoUsuario] ([EstadoUsuarioId], [NombreEstado]) VALUES (2, N'BLOQUEADO')
SET IDENTITY_INSERT [dbo].[EstadoUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([RolId], [NombreRol]) VALUES (1, N'ADMIN')
INSERT [dbo].[Rol] ([RolId], [NombreRol]) VALUES (2, N'COMPRADOR')
INSERT [dbo].[Rol] ([RolId], [NombreRol]) VALUES (3, N'VENDEDOR')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__75E3EFCF2D7947E1]    Script Date: 2/6/2026 10:02:24 AM ******/
ALTER TABLE [dbo].[CategoriaJoya] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Condicio__71AAD23DF2B065AE]    Script Date: 2/6/2026 10:02:24 AM ******/
ALTER TABLE [dbo].[CondicionObjeto] ADD UNIQUE NONCLUSTERED 
(
	[NombreCondicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadoOb__6CE506159A2AE560]    Script Date: 2/6/2026 10:02:24 AM ******/
ALTER TABLE [dbo].[EstadoObjeto] ADD UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadoPa__6CE50615E471CC29]    Script Date: 2/6/2026 10:02:24 AM ******/
ALTER TABLE [dbo].[EstadoPago] ADD UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadoSu__6CE50615BDF48EA6]    Script Date: 2/6/2026 10:02:24 AM ******/
ALTER TABLE [dbo].[EstadoSubasta] ADD UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadoUs__6CE50615A9DDB031]    Script Date: 2/6/2026 10:02:24 AM ******/
ALTER TABLE [dbo].[EstadoUsuario] ADD UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notificacion_Usuario_Leida]    Script Date: 2/6/2026 10:02:24 AM ******/
CREATE NONCLUSTERED INDEX [IX_Notificacion_Usuario_Leida] ON [dbo].[Notificacion]
(
	[UsuarioId] ASC,
	[Leida] ASC,
	[FechaCreacion] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Puja_Subasta_Fecha]    Script Date: 2/6/2026 10:02:24 AM ******/
CREATE NONCLUSTERED INDEX [IX_Puja_Subasta_Fecha] ON [dbo].[Puja]
(
	[SubastaId] ASC,
	[FechaHora] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Puja_Subasta_Monto]    Script Date: 2/6/2026 10:02:24 AM ******/
CREATE NONCLUSTERED INDEX [IX_Puja_Subasta_Monto] ON [dbo].[Puja]
(
	[SubastaId] ASC,
	[MontoOfertado] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rol__4F0B537F3794CA76]    Script Date: 2/6/2026 10:02:24 AM ******/
ALTER TABLE [dbo].[Rol] ADD UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subasta_Estado_Fechas]    Script Date: 2/6/2026 10:02:24 AM ******/
CREATE NONCLUSTERED INDEX [IX_Subasta_Estado_Fechas] ON [dbo].[Subasta]
(
	[EstadoSubastaId] ASC,
	[FechaInicio] ASC,
	[FechaCierre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__60695A19BAFD9261]    Script Date: 2/6/2026 10:02:24 AM ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Joya] ADD  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[JoyaImagen] ADD  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Notificacion] ADD  DEFAULT ((0)) FOR [Leida]
GO
ALTER TABLE [dbo].[Notificacion] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Puja] ADD  DEFAULT (sysdatetime()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Subasta] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[SubastaResultado] ADD  DEFAULT (sysdatetime()) FOR [FechaCierre]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Joya]  WITH CHECK ADD  CONSTRAINT [FK_Joya_Condicion] FOREIGN KEY([CondicionObjetoId])
REFERENCES [dbo].[CondicionObjeto] ([CondicionObjetoId])
GO
ALTER TABLE [dbo].[Joya] CHECK CONSTRAINT [FK_Joya_Condicion]
GO
ALTER TABLE [dbo].[Joya]  WITH CHECK ADD  CONSTRAINT [FK_Joya_Estado] FOREIGN KEY([EstadoObjetoId])
REFERENCES [dbo].[EstadoObjeto] ([EstadoObjetoId])
GO
ALTER TABLE [dbo].[Joya] CHECK CONSTRAINT [FK_Joya_Estado]
GO
ALTER TABLE [dbo].[Joya]  WITH CHECK ADD  CONSTRAINT [FK_Joya_Vendedor] FOREIGN KEY([VendedorId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Joya] CHECK CONSTRAINT [FK_Joya_Vendedor]
GO
ALTER TABLE [dbo].[JoyaCategoria]  WITH CHECK ADD  CONSTRAINT [FK_JoyaCategoria_Categoria] FOREIGN KEY([CategoriaJoyaId])
REFERENCES [dbo].[CategoriaJoya] ([CategoriaJoyaId])
GO
ALTER TABLE [dbo].[JoyaCategoria] CHECK CONSTRAINT [FK_JoyaCategoria_Categoria]
GO
ALTER TABLE [dbo].[JoyaCategoria]  WITH CHECK ADD  CONSTRAINT [FK_JoyaCategoria_Joya] FOREIGN KEY([JoyaId])
REFERENCES [dbo].[Joya] ([JoyaId])
GO
ALTER TABLE [dbo].[JoyaCategoria] CHECK CONSTRAINT [FK_JoyaCategoria_Joya]
GO
ALTER TABLE [dbo].[JoyaImagen]  WITH CHECK ADD  CONSTRAINT [FK_JoyaImagen_Joya] FOREIGN KEY([JoyaId])
REFERENCES [dbo].[Joya] ([JoyaId])
GO
ALTER TABLE [dbo].[JoyaImagen] CHECK CONSTRAINT [FK_JoyaImagen_Joya]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [FK_Notificacion_Subasta] FOREIGN KEY([SubastaId])
REFERENCES [dbo].[Subasta] ([SubastaId])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [FK_Notificacion_Subasta]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [FK_Notificacion_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [FK_Notificacion_Usuario]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Estado] FOREIGN KEY([EstadoPagoId])
REFERENCES [dbo].[EstadoPago] ([EstadoPagoId])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Estado]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Subasta] FOREIGN KEY([SubastaId])
REFERENCES [dbo].[Subasta] ([SubastaId])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Subasta]
GO
ALTER TABLE [dbo].[Puja]  WITH CHECK ADD  CONSTRAINT [FK_Puja_Comprador] FOREIGN KEY([CompradorId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Puja] CHECK CONSTRAINT [FK_Puja_Comprador]
GO
ALTER TABLE [dbo].[Puja]  WITH CHECK ADD  CONSTRAINT [FK_Puja_Subasta] FOREIGN KEY([SubastaId])
REFERENCES [dbo].[Subasta] ([SubastaId])
GO
ALTER TABLE [dbo].[Puja] CHECK CONSTRAINT [FK_Puja_Subasta]
GO
ALTER TABLE [dbo].[Subasta]  WITH CHECK ADD  CONSTRAINT [FK_Subasta_Estado] FOREIGN KEY([EstadoSubastaId])
REFERENCES [dbo].[EstadoSubasta] ([EstadoSubastaId])
GO
ALTER TABLE [dbo].[Subasta] CHECK CONSTRAINT [FK_Subasta_Estado]
GO
ALTER TABLE [dbo].[Subasta]  WITH CHECK ADD  CONSTRAINT [FK_Subasta_Joya] FOREIGN KEY([JoyaId])
REFERENCES [dbo].[Joya] ([JoyaId])
GO
ALTER TABLE [dbo].[Subasta] CHECK CONSTRAINT [FK_Subasta_Joya]
GO
ALTER TABLE [dbo].[Subasta]  WITH CHECK ADD  CONSTRAINT [FK_Subasta_Vendedor] FOREIGN KEY([VendedorId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Subasta] CHECK CONSTRAINT [FK_Subasta_Vendedor]
GO
ALTER TABLE [dbo].[SubastaResultado]  WITH CHECK ADD  CONSTRAINT [FK_SubastaResultado_Ganador] FOREIGN KEY([GanadorId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[SubastaResultado] CHECK CONSTRAINT [FK_SubastaResultado_Ganador]
GO
ALTER TABLE [dbo].[SubastaResultado]  WITH CHECK ADD  CONSTRAINT [FK_SubastaResultado_Puja] FOREIGN KEY([PujaGanadoraId])
REFERENCES [dbo].[Puja] ([PujaId])
GO
ALTER TABLE [dbo].[SubastaResultado] CHECK CONSTRAINT [FK_SubastaResultado_Puja]
GO
ALTER TABLE [dbo].[SubastaResultado]  WITH CHECK ADD  CONSTRAINT [FK_SubastaResultado_Subasta] FOREIGN KEY([SubastaId])
REFERENCES [dbo].[Subasta] ([SubastaId])
GO
ALTER TABLE [dbo].[SubastaResultado] CHECK CONSTRAINT [FK_SubastaResultado_Subasta]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Estado] FOREIGN KEY([EstadoUsuarioId])
REFERENCES [dbo].[EstadoUsuario] ([EstadoUsuarioId])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Estado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([RolId])
REFERENCES [dbo].[Rol] ([RolId])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_Monto] CHECK  (([Monto]>(0)))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_Monto]
GO
ALTER TABLE [dbo].[Puja]  WITH CHECK ADD  CONSTRAINT [CK_Puja_Monto] CHECK  (([MontoOfertado]>(0)))
GO
ALTER TABLE [dbo].[Puja] CHECK CONSTRAINT [CK_Puja_Monto]
GO
ALTER TABLE [dbo].[Subasta]  WITH CHECK ADD  CONSTRAINT [CK_Subasta_Fechas] CHECK  (([FechaCierre]>[FechaInicio]))
GO
ALTER TABLE [dbo].[Subasta] CHECK CONSTRAINT [CK_Subasta_Fechas]
GO
USE [master]
GO
